<!DOCTYPE html>
<html>
  <head>
    <title>主页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
  </head>
  <body>
    <header >
        <div class="page-header">
            <h1><%= title %><small>It's a blog system writeten by nodejs</small></h1> 
            <% if(!user) { %>
            <div class="user-header">
                <p>
                    <a href="/login">登陆</a>
                    <a href="/register">注册</a>
                </p>               
            </div>
            <% } else { %>
            <div class="user-header">
                <p>
                    <a href="#"><%= user.username %></a>
                    <a href="/logout">安全退出</a>
                </p>
            </div>
            <% } %>
        </div>   	
    </header>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
            <!--Sidebar content-->
                <div class="pop-blog">
                    <h3 class="text-info">Hot blog</h3>
                    <ul class="unstyled">
                        <li><a href="#">what is blog?</a><p>赞（10）</p></li>
                        <li><a href="#">how to write blog?</a><p>赞（10）</p></li>
                        <li><a href="#">what time can we read blog?</a><p>赞（10）</p></li>
                        <li><a href="#">where to read blog?</a><p>赞（10）</p></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
            <!--Body content-->
                <% if(!user) { %>
                    <!-- If user is not login show this model  -->
                    <div class="row-fluid">
                        <div class="span9">
                            <div class="chang-img">qwer</div>
                            <div class="messge">Here to show some message</div>
                        </div>
                        <div class="span3">
                            <!-- Here to search blog -->
                            <input type="" name="">
                            <label>Search</label>
                        </div>
                    </div>

                <% } else {%>
                    <div class="my-blog container-fulid">
                        <div class="row-fluid">
                            <div class="span9">
                                
                                <div class="blog">
                                    <% if (locals.error.length > 0) { %> 
                                    <div id="alt_warning" class="alert alert-warning"> 
                                        <%= error %> 
                                    </div> 
                                    <% } %> 
                                    <h3>我的博客</h3>
                                    <ul class="unstyled">
                                        <li>
                                            <a href="#"><%= blog[0].title %></a></br>
                                            <span>我发布于<strong>2016/10/19</strong></span>
                                            <span class="zan">赞 1000</span>
                                
                                        </li>                                        
                                        <li>
                                            <a href="#">blog titl</a></br>
                                            <span>我发布于<strong>2016/10/19</strong></span>
                                            <span class="zan">赞 1000</span>
                                
                                        </li>                                       
                                        <li>
                                            <a href="#">blog titl</a></br>
                                            <span>我发布于<strong>2016/10/19</strong></span>
                                            <span class="zan">赞 1000</span>
                                
                                        </li> 
                                        <li>
                                            <a href="#">blog titl</a></br>
                                            <span>我发布于<strong>2016/10/19</strong></span>
                                            <span class="zan">赞 1000</span>
                                
                                        </li> 
                                    </ul>

                                </div>
                            </div>
                            <div class="span3">
                                <input type="" name="">
                                <label>Search</label>                                
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <footer>
        <p><small>&copy;Copyring All About Gaudi</small></p>
    </footer> 
        <script src="./javascripts/jquery.min.js"></script>
    </body>
</html>
